#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardTable{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skillCard {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}